@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#commandbar a,
#logout,
#repos-edit {
	color: black;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%) brightness(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#filedetails lh {
	color: #333;
}

/* commandbar */
#commandbar {
	background-color: #1e3480;
	color: #fff;
	margin-bottom: 20px;
	min-height: 50px;
	padding: 0;

	/* remove padding from sides */
	margin-left: -8px;
	margin-right: -8px;
}

#commandbar .right {
	display: inline-flex;
}

#commandbar span {
	padding-bottom: 0; /* remove padding-bottom */
	padding-left: inherit;
	padding-top: 0;
}

#commandbar a {
	line-height: 50px;
	min-height: 50px;

	padding-right: 0;
	padding-left: 1.2em;
	padding-top: 0;
	padding-bottom: 0;

	margin-left: 0px;

	border: none;
	color: #fff;
	font-size: 100%;
	opacity: .8;

	/* remove default icons */
	background: none !important;

	display: inline-block;

}
#commandbar a:hover {
	opacity: 1;
}

#commandbar a:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 1.5em;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	line-height: 0.75em;
	vertical-align: -15%;
	padding-right: 0.3em;
}

/* repository Icon (home page) */
#commandbar #repository:before,
#commandbar .repository:before {
	content: "\f07c";
}

/* search Icon (home page) */
#commandbar .search-tool:before {
	content: "\f002";
}

/* start Icon */
#commandbar #start:before,
#commandbar .start:before {
	content: "\f015";
}

/* parent Icon */
#commandbar #parent:before {
	content: "\f148";
}

/* view Icon */
#commandbar #view:before,
#commandbar .details:before {
	content: "\f129";
}

/* history Icon */
#commandbar #history:before {
	content: "\f1da";
}

/* createfolder Icon */
#commandbar #createfolder:before {
	content: "\f07b";
}

/* addfile Icon */
#commandbar #addfile:before {
	content: "\f093";
}

/* list Icon */
#commandbar #list:before {
	content: "\f03a";
}

/* listrecursive Icon */
#commandbar #listrecursive:before {
	content: "\f022";
}

/* repostree Icon */
#commandbar #repostree:before {
	content: "\f0e8";
}

/* edit Icon */
#commandbar #edit:before {
	content: "\f040";
}

/* back icon*/
#commandbar #back:before,
#commandbar .back:before {
	content: "\f060";
}

#commandbar #path-filter:before {
	content: "\f14a";
	cursor: pointer;
}

#commandbar #path-filter.disabled:before {
	content: "\f0c8";
}

@media only screen and (max-width: 1100px) {
    #commandbar #path-filter.media-max-width-yes {
        display: none;
    }
}

/* listthumbs icon */
#commandbar .listthumbs:before {
	content: "\f00b";
}

#commandbar .pretranslate-report:before {
	content: "\f1b8";
}

#commandbar .publishstatus:before {
	content: "\f0ae";
}

#commandbar .pretranslatestatus:before {
	content: "\f0ae";
}

.translationproject-link:before {
	padding-left: 0.4em;
	vertical-align: -10%;
	text-rendering: auto;
	display: inline-block;
	transform: translate(0, 0);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f24d";
}

/* Action Icons */
/* common */
#activities h3 {
	padding-bottom: 5px;
}

#activities h3 a {
	padding: 8px 0px 8px 40px;
}

/* open in editor */
#activities #open_in_editor {
	background-image: url('/branding/commands/open_in_editor.svg') !important;
}

/* insert in editor */
#activities #insert_in_editor {
	/*background-image: url('/branding/commands/insert_in_editor.svg') !important;*/
}

/* preview */
#activities #preview {
	background-image: url('/branding/commands/preview.svg') !important;
}

/* prepare release */
#activities #prepare_release {
	background-image: url('/branding/commands/prepare_release.svg') !important;
}

/* list contents */
#activities #list {
	background-image: url('/branding/commands/list.svg') !important;
}

/* view */
#activities.column-activities #btn_open {
	display: none;
}
#activities #open {
	background-image: url('/branding/commands/open.svg') !important;
}

/* download */
#activities #download {
	background-image: url('/branding/commands/download.svg') !important;
}

/* view in repos */
#activities #viewfile {
	/*background-image: url('/branding/commands/viewfile.svg') !important;*/
}

/* view in history */
#activities #history {
	background-image: url('/branding/commands/history.svg') !important;
}

/* edit contents */
#activities.column-activities #btn_editfile {
	display: none;
}
#activities #editfile {
	background-image: url('/branding/commands/editfile.svg') !important;
}

/* edit properties */
#activities #propedit {
	background-image: url('/branding/commands/propedit.svg') !important;
}

/* lock */
#activities #lock {
	background-image: url('/branding/commands/lock.svg') !important;
}

/* unlock */
#activities #unlock {
	background-image: url('/branding/commands/unlock.svg') !important;
}

/* upload new version */
#activities #upload {
	background-image: url('/branding/commands/upload.svg') !important;
}

/* copy | move | rename */
#activities #copy {
	background-image: url('/branding/commands/copy.svg') !important;
}

/* delete */
#activities #delete {
	background-image: url('/branding/commands/delete.svg') !important;
}

/* use the url */
#activities.column-activities #btn_useurl {
	display: none;
}
#activities #useurl {
	background-image: url('/branding/commands/useurl.svg') !important;
}

/* download with lock */
#activities #download_lock {
	background-image: url('/branding/commands/download_lock.svg') !important;
}

/* download, modify, upload */
#activities #download_upload {
	background-image: url('/branding/commands/download_upload.svg') !important;
}

/* export publications */
#activities #export_publications {
	background-image: url('/branding/commands/export_publications.svg') !important;
}

/* start review */
#activities #start_review {
	background-image: url('/branding/commands/start_review.svg') !important;
}

/* close review */
#activities #close_review {
	/*background-image: url('/branding/commands/close_review.svg') !important;*/
}

/* prepare translation */
#activities #prepare_translation {
	background-image: url('/branding/commands/prepare_translation.svg') !important;
}

/* validate release */
#activities #validate_release {
	/*background-image: url('/branding/commands/validate_release.svg') !important;*/
}

/* revise graphic */
#activities #revise_graphic {
	/*background-image: url('/branding/commands/revise_graphic.svg') !important;*/
}

/* graphics baseline */
#activities #graphics_baseline {
	background-image: url('/branding/commands/graphics_baseline.svg') !important;
}

/* export translations */
#activities #export_translations {
	/*background-image: url('/branding/commands/export_translations.svg') !important;*/
}

/* batch pretranslate */
#activities #batch_pretranslate {
	/*background-image: url('/branding/commands/batch_pretranslate.svg') !important;*/
}

/* pretranslate */
#activities #pretranslate {
	background-image: url('/branding/commands/pretranslate.svg') !important;
}

/* pretranslate report */
#activities #pretranslate_report {
	background-image: url('/branding/commands/pretranslate_report.svg') !important;
}

#commandbar input {
	border-radius: 4px;
	border: 6px solid #fff;
	margin: 6px;
	margin-bottom: 11px;
	margin-top: 11px;
	vertical-align: unset;
}

#commandbar img {
	margin: 0;
	vertical-align: unset;
}

#logo {
	height: 32px;
	padding-right: 16px;
	padding-top: 9px;
	width: auto;
}

/* Headings */
:not(#intro) > h1,
:not(#intro) > h2 {
	padding-left: .5em;
}

/* Sections */
#activities.section,
div.section {
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	margin: 20px 10px;
}

div.section h2{
	background-color: #d6d7d2;
	background-image: none;
	color: #575756;
	font-size: 1.3em;
	line-height: 1.1;
	margin: -5px;
	padding: 10px;
}
div#activities p {
	margin-top: 1em;
}

/* revision */
.revision {
	background: #fff;
}

/* username */
.username {
	color: #575756;
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.username:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	line-height: 0.75em;
	vertical-align: -15%;
	padding-right: 0.5em;

	content: "\f007";
}

/* note, error and warning */
.note,
.error,
.warning,
.pretranslate-success,
.pretranslate-error,
.pretranslate-aborted {
	background: none !important;
	padding-left: 0;
}
.note:before,
.error:before,
.warning:before,
.pretranslate-success:before,
.pretranslate-error:before,
.pretranslate-aborted:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	line-height: 0.75em;
	vertical-align: -15%;
	padding-right: 0.5em;
}
.note:before,
.pretranslate-success:before {
	content: "\f05a";
	color:#008bcb; /* brand blue */
}
.error:before,
.pretranslate-error:before {
	content: "\f06a";
	color:#cc3300; /* repos-web red*/
}
.warning:before,
.pretranslate-aborted:before {
	content: "\f071";
	color:#e6ca97; /* dashboard yellow */
}

/* locks */
dd.aboutitem-lock.datetime {
	background: none;
	padding-left: 0;
}
dd.aboutitem-lock.datetime:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	line-height: 0.75em;
	vertical-align: -15%;
	padding-right: 0.5em;

	content: "\f023";
}

.lock,
.lock-o,
.lock-oo,
.lock-ooo,
.lock-oooo {
	background: none;
	padding-left: 0;
}
.lock:before,
.lock-o:before,
.lock-oo:before,
.lock-ooo:before,
.lock-oooo:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 1.1em;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	line-height: 0.75em;
	vertical-align: -15%;
	padding-right: 0.5em;

	content: "\f023";
}
/* without this, the paragraph breaks to new line */
.lock > p {
	display: inline-block;
}

/* locks with severity levels */
.lock-o:before {
	color: #cadd9a;
}
.lock-oo:before {
	color: #e6e697;
}
.lock-ooo:before {
	color: #e6ca97;
}
.lock-oooo:before {
	color: #e69797;
}


/* Fieldset */
fieldset {
	border: 2px solid #008BCB;
	margin-bottom: 3em;
}
fieldset legend {
	color: #575756;
}
fieldset input {
	margin-top: 0;
}
fieldset label {
	/* prevents the submit button to get on the left */
	padding-top: 1px;
}

/* Footer */
#footer {
	bottom: 0;
	margin: 0 -8px;
	position: fixed;
	z-index: 20;
}
#footer > span:first-child {
	margin-left: 10px;
}

/* Hides orignal legal text*/
.legal {
 visibility: hidden;
}

/*Inserts text in legal*/
.legal::after {
 content: 'Powered by SimonsoftCMS';
 visibility: visible;
}

/* fix of issue simonsoft/rweb-branding#1 */
/* due to the technical constraints, had to hardcode the previous siblings */
ul.results,
.log.xml p:last-of-type,
.readme.readme-bottom {
	margin-bottom: 50px;
}


#visualizationOverlay {
	margin: 10px;
	min-height: 60%;
	bottom: inherit !important;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	border: none !important;
}
#visualizationOverlay .repossearch-dialog-title {
	width: inherit !important;
	background-color: #d6d7d2 !important;
	background-image: none;
	color: #575756;
	font-size: 1.3em;
	line-height: 1.1;
	padding: 10px;
}
#visualizationOverlay > div {
	overflow: hidden !important;
	padding: 10px;
	width: inherit !important;
	height: inherit !important;
}

body.category-release #visualizeTimeline {
	display: none;
}

/* Start Page */
/* center */
/* trying to be as specific as possible to avoid propagation to other pages */
#intro > h1 > img{
	display: block;
	margin: auto;
}
#startbuttons,
#startconfig {
	display: inline-block;
	margin: 0 auto;

	/* !important is required, they have the width defined inline */
	width: 40% !important;
}
#startbuttons {
	margin-left: 10%;
}
/* yes, the 2 ids in the selectors are required,
   I only want to affect the start page... */
#startbuttons #commandbar {
	background-color: #F0F0F0;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	margin: 20px 10px;

}
#startbuttons #commandbar a {
	color: #000;
}
#startbuttons input {
	margin-left: 10%;
	width: 60%;
}

/* suppress IE clear X */
#repossearch-input::-ms-clear {
	display: none;
}

/* preview image placeholder */
#preview img.placeholder {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='64' height='64' viewBox='0, 0, 64, 64'%3E%3Cpath d='M21.333,21.333 Q21.333,24 19.467,25.867 Q17.6,27.733 14.933,27.733 Q12.267,27.733 10.4,25.867 Q8.533,24 8.533,21.333 Q8.533,18.667 10.4,16.8 Q12.267,14.933 14.933,14.933 Q17.6,14.933 19.467,16.8 Q21.333,18.667 21.333,21.333 z M55.467,34.133 L55.467,49.067 L8.533,49.067 L8.533,42.667 L19.2,32 L24.533,37.333 L41.6,20.267 z M58.667,10.667 L5.333,10.667 Q4.9,10.667 4.583,10.983 Q4.267,11.3 4.267,11.733 L4.267,52.267 Q4.267,52.7 4.583,53.017 Q4.9,53.333 5.333,53.333 L58.667,53.333 Q59.1,53.333 59.417,53.017 Q59.733,52.7 59.733,52.267 L59.733,11.733 Q59.733,11.3 59.417,10.983 Q59.1,10.667 58.667,10.667 z M64,11.733 L64,52.267 Q64,54.467 62.433,56.033 Q60.867,57.6 58.667,57.6 L5.333,57.6 Q3.133,57.6 1.567,56.033 Q0,54.467 0,52.267 L0,11.733 Q0,9.533 1.567,7.967 Q3.133,6.4 5.333,6.4 L58.667,6.4 Q60.867,6.4 62.433,7.967 Q64,9.533 64,11.733 z' fill='%23000000'/%3E%3C/svg%3E%0A");
}